# Auto detect text files and perform LF normalization
* text=auto

# Exceptions from text auto detection
*.jpg  binary
*.png  binary
*.gif  binary

# Visual Studio diff
*.cs   diff=csharp

# Standard msysgit diff
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
